appdirs==1.4.4
awesome-package==1.10.3
click==8.1.8
distlib==0.3.1
filelock==3.0.12
Flask==2.2.5
importlib-metadata==6.7.0
itsdangerous==2.1.2
jinja2==3.1.6
MarkupSafe==2.1.5
numpy==1.21.6
pandas==1.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.15.0
typing-extensions==4.7.1
virtualenv==20.1.0
Werkzeug==2.2.3
zipp==3.4.0
waitress
